/* Bootstrap overrides */
nav.navbar.fixed-top{
    padding-bottom: 0;
    box-shadow: 0 1px 3px #DDD;
}
.dropdown-menu{
    margin-top: 0;
    padding: 0;
}
/* General css */
html {
    overflow-y: scroll;
}
@media (min-width: 769px) {
	div.teamlogo-wrapper {
        max-width: 30%;
    }
}
@media (max-width: 768px) {
	div.teamlogo-wrapper {
		max-width: 45%;
    }
}
img.teamlogo {
    max-height: 150px;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
div.teamlogo-wrapper{
	max-height: 150px;
	display: inline-block;
	margin: 1.5%;
}

.logo-wrap{
  width: 200px;
}
.logo-wrap h1{
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: .85;
  font-weight: 500;
  margin-top: 0;
}
.logo-wrap a{
        color: #555;
}
.logo-wrap a:hover{
        text-decoration: unset;
        color: #111;
}
li.nav-item.dropdown:hover ul.dropdown-menu{
	display: block;
}
ul.dropdown-menu.subnav a{
	width: 100%;
	white-space: nowrap;
	display: block;
	padding: .25em 1em;
	color: #333;
}

ul.dropdown-menu.subnav li:hover{
  background-color: #333;
}
ul.dropdown-menu.subnav li{
    width: 100%;
}
ul.dropdown-menu.subnav li:hover  a{
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	margin-bottom: .5em;
    display: block;
}
h1, h2{
	font-weight: 700;
}
h2.anchor, h3.anchor, h4.anchor {
    margin-top: 2em;
}
/* add pseudo elements so anchors clear sticky header */
.anchor:before{
    display: block;
    content: " ";
    margin-top: -7rem;
    height: 7rem;
    visibility: hidden;
}


/* Mailchimp overrides */
div.mc-field-group.input-group{
	display: block;
}
form#mc-embedded-subscribe-form{
    max-width: 650px;
}
#to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    padding: 10px;
    border-radius: 5px;
	box-shadow: 1px 1px 2px #777;
	border-width: 0;
}

#to-top:hover {
    background-color: #555;
	color: #fff;
}
main {
  margin-bottom: 2rem;
}
@media (min-width: 768px){
  main{
    margin-top: 6rem;
  }
  .sidebar{
    margin-top: 4rem;
  }
}
@media (max-width: 767px){
  main{
    margin-top: 0;
  }
  .sidebar{
      margin-top: 0;
  }
}

.footer {
    z-index: 10;
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer a.navbar-brand{
    color: #333;
}
footer .footer-link{
	vertical-align: bottom;
}

code {
    font-size: 80%;
    word-break: normal;
}
.figure{
	max-width: 100%;
}

@media screen and (min-width: 992px){
	.figure{
		padding: 0 10%;
	}

    div.sidebar{
        position: fixed;
        width: 300px;
        font-size: 12px;
        height: 100%;
        border-right: 1px solid #343a40;
        padding-right: 1em;
        padding-bottom: 4em;
        overflow: auto;
    }
    div.contents-menu h2{
        font-size: 2em;
    }
    div.sidebar ul.contents-list{
        list-style: none;
        padding-left: 0;
    }
    ul.contents-list ol, ul.contents-list ol ol{
        padding-left: 1.5em;
    }
    div.content-wrapper-sidebar{
        margin-left: 300px;
        padding-left: 3em;
    }
}
.gh-link{
  max-width: 80px;
}
h2#presentations, h2#posters{
  font-size: 1.5em;
}
pre.highlight{
  background-color: #f6f8fa;
  padding: 1em;
}
img{
  max-width: 100%;
}
.homepage-image{
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
.dash-docs-homepage-image{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
