/* Bootstrap overrides */

/* General css */

@media (min-width: 769px) {
	div.teamlogo-wrapper {
        max-width: 30%;
    }
}
@media (max-width: 768px) {
	div.teamlogo-wrapper {
		max-width: 45%;
    }
}
img.teamlogo {
    max-height: 150px;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
div.teamlogo-wrapper{
	max-height: 150px;
	display: inline-block;
	margin: 1.5%;
}

/* Mailchimp overrides */
div.mc-field-group.input-group{
	display: block;
}
form#mc-embedded-subscribe-form{
    max-width: 650px;
}
