<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#user-dashboard-interaction">Introduction</a></li>
  <li><a href="#create-a-site">Create a Site</a></li>
  <li><a href="#create-an-observation-or-forecast">Create Observations or Forecasts</a></li>
    <ul>
	  <li><a href="#create-an-observation">Create an Observation</a></li>
	  <li><a href="#create-a-forecast">Create a Forecast</a></li>
	</ul>
  <li><a href="#upload-data">Upload Data</a>
    <ul>
	  <li><a href="#upload-observation-data">Upload Observation Data</a></li>
	  <li><a href="#upload-forecast-data">Upload Forecast Data</a></li>
	</ul>
    
  </li>
  <li><a href="#download-data">Download Data</a></li>
</ul>
</div>
