<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="/documentation/dashboard/">Dashboard Documentation Home</a></li>
  <li><a href="/documentation/dashboard/getting-started/">Getting Started</a></li>
  <li><a href="/documentation/dashboard/working-with-data/">Working with data</a></li>
  <li><a href="/documentation/dashboard/administration">Administration and Data Sharing</a></li>
  <ul>
    <li><a href="#data-types">Data Types</a></li>
    <ul>
      <li><a href="#sites-observations-forecasts-aggregates-and-reports">Sites, Observations, Forecasts, Aggregates and Reports</a></li>
      <li><a href="#organizations">Organizations</a></li>
      <li><a href="#users">Users</a></li>
      <li><a href="#data-about-data-access">Data About Data Access</a></li>
    </ul>

    <li><a href="#role-based-access-control">Role Based Access Control</a></li>
    <ul>
      <li><a href="#permissions">Permissions</a></li>
      <ul>
        <li><a href="#create-new-permission">Create New Permission</a></li>
      </ul>
      <li><a href="#roles">Roles</a></li>
      <ul>
        <li><a href="#default-roles">Default Roles</a></li>
        <li><a href="#create-new-role">Create New Role</a></li>
      </ul>
      <li><a href="#grant-and-revoke-roles">Grant and Revoke Roles</a></li>
      <ul>
        <li><a href="#grant-roles-to-a-user">Grant Roles to a User</a></li>
          <ul>
            <li><a href="#all-users">All Users</a></li>
            <li><a href="#users-within-your-organization">Users Within Your Organization</a></li>
          </ul>
        <li><a href="#revoke-roles-from-a-user">Revoke Roles from a User</a></li>
        <ul>
          <li><a href="#all-users">All Users</a></li>
          <li><a href="#users-within-your-organization">Users Within Your Organization</a></li>
        </ul>
      </ul>
      <li><a href="#modify-role">Modify Role</a></li>
      <ul>
        <li><a href="#add-permissions-to-a-role">Add Permissions to a Role</a></li>
        <li><a href="#remove-permissions-from-a-role">Remove Permissions from a Role</a></li>
      </ul>
    </ul>

    <li><a href="#user-classifications">User Classifications</a>
    <ul>
      <li><a href="#organization-administrators">Organization Administrators</a></li>
      <li><a href="#standard-users">Standard Users</a></li>
      <li><a href="#organization-point-of-contact">Organization Point of Contact</a></li>
    </ul>

    <li><a href="#managing-organizations-and-users">Managing Organizations and Users</a></li>
    <ul>
      <li><a href="#create-new-organization">Create New Organization</a></li>
      <li><a href="#affiliate-user-with-organization">Affiliate User with Organization</a></li>
      <li><a href="#managing-users">Managing Users</a></li>
    </ul>

    <li><a href="#examples">Examples</a></li>
    <ul>
      <li><a href="#set-up-a-new-organization">Set Up a New Organization</a></li>
      <li><a href="#roles-within-an-organization">Roles within an Organization</a></li>
      <li><a href="#share-site-metadata">Share Site Metadata</a></li>
      <ul>
        <li><a href="#create-the-permission">Create the Permission</a></li>
        <li><a href="#create-the-role">Create the Role</a></li>
        <li><a href="#grant-the-role">Grant the Role</a></li>
      </ul>
      <li><a href="#share-a-forecast-and-report">Share a Forecast and Report</a></li>
      <ul>
        <li><a href="#create-forecast-and-report">Create Forecast and Report</a></li>
        <li><a href="#create-permissions">Create Permissions</a></li>
        <li><a href="#create-role">Create Role</a></li>
        <li><a href="#grant-role">Grant Role</a></li>
        <li><a href="#modify-role">Modify Role</a></li>
      </ul>
    </ul>

    <li><a href="#permissions-reference-table">Permissions Reference Table</a></li>

  </ul>
  <li><a href="/documentation/dashboard/trials">Trials</a></li>
</ul>
</div>
