<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="/documentation/dashboard/">Dashboard Documentation Home</a></li>
  <li><a href="/documentation/dashboard/getting-started/">Getting Started</a></li>
  <li><a href="/documentation/dashboard/working-with-data/">Working with data</a></li>
  <li><a href="/documentation/dashboard/administration">Administration and Data Sharing</a></li>
  <ul>
    <li><a href="#data-access-components">Data Access Components</a></li>
    <ul>
        <li><a href="#organizations">Organizations</a></li>
        <li><a href="#users">Users</a></li>
        <li><a href="#roles">Roles</a></li>
        <li><a href="#permissions">Permissions</a></li>
    </ul>
    <li><a href="#default-roles">Default Roles</a></li>
    <li><a href="#managing-users">Managing Users</a></li>
    <li><a href="#create-new-role">Create New Role</a></li>
    <li><a href="#create-new-permission">Create New Permission</a></li>
    <li><a href="#data-sharing">Data Sharing</a></li>
      <ul>
          <li><a href="#grant-roles-to-a-user">Grant Roles to a User</a></li>
          <li><a href="#revoke-roles-from-a-user">Revoke Roles from a User</a></li>
          <li><a href="#add-permissions-to-a-role">Add Permissions to a Role</a></li>
          <li><a href="#remove-permissions-from-a-role">Remove Permissions from a Role</a></li>
      </ul>
    <li><a href="#permissions-reference-table">Permissions Reference Table</a></li>
  </ul>
</ul>
</div>
