<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="/documentation/dashboard/">Dashboard Documentation Home</a></li>
  <li><a href="/documentation/dashboard/getting-started/">Getting Started</a></li>
  <ul>
    <li><a href="#signing-up">Signing Up</a></li>
    <li><a href="#organizations">Organizations</a></li>
      <ul>
        <li><a href="#creating-an-organization">Creating an Organization</a></li>
      </ul>
    <li><a href="#user-classifications">User Classifications</a>
      <ul>
        <li><a href="#organization-point-of-contact">Organization Point of Contact</a></li>
        <li><a href="#organization-administrators">Organization Administrators</a></li>
        <li><a href="#standard-user">Standard User</a></li>
      </ul>
    </li>
  </ul>
  <li><a href="/documentation/dashboard/working-with-data/">Working with data</a></li>
  <li><a href="/documentation/dashboard/administration">Administration and Data Sharing</a></li>
  </ul>
</div>
