<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#">Introduction</a></li>
  <li><a href="#getting-started">Getting Started</a>
  <li><a href="#create-new-site">Create New Site</a></li>
  <li><a href="#create-new-aggregate">Create New Aggregate</a></li>
    <ul>
      <li><a href="#add-observations-to-an-aggregate">Add Observations to an Aggregate</a></li>
      <li><a href="#remove-an-observation-from-an-aggregate">Remove an Observation from an Aggregate</a></li>
    </ul>
  <li><a href="#create-new-observation-or-forecast">Create New Observations or Forecasts</a></li>
    <ul>
	  <li><a href="#create-new-observation">Create New Observation</a></li>
	  <li><a href="#create-new-forecast">Create New Forecast</a></li>
	</ul>
  <li><a href="#upload-data">Upload Data</a>
    <ul>
	  <li><a href="#upload-observation-data">Upload Observation Data</a></li>
	  <li><a href="#upload-forecast-data">Upload Forecast Data</a></li>
	</ul>
    
  </li>
  <li><a href="#download-data">Download Data</a></li>
    <ul>
	  <li><a href="#download-observation-data">Download Observation Data</a></li>
	  <li><a href="#download-forecast-data">Download Forecast Data</a></li>
	</ul>
  <li><a href="#create-new-report">Create New Report</a></li>
  <li><a href="#permissionrole-management">Permission and Role Management</a></li>
    <ul>
      <li><a href="#users">Users</a></li>
        <ul>
            <li><a href="#granting-roles-to-a-user">Granting roles to a user</a></li>
        </ul>
      <li><a href="#create-new-role">Create New Role</a></li>
        <ul>
            <li><a href="#granting-a-role-to-a-user">Granting a role to a user</a></li>
        </ul>

      <li><a href="#create-new-permission">Create-new-Permission</a></li>
    </ul>
</ul>
</div>
