<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="/documentation/dashboard/">Dashboard Documentation Home</a></li>
  <li><a href="/documentation/dashboard/getting-started/">Getting Started</a></li>
  <li><a href="/documentation/dashboard/working-with-data/">Working with data</a></li>
  <li><a href="/documentation/dashboard/administration">Administration and Data Sharing</a></li> 
  <ul>
    <li><a href="#users">Users</a></li>
    <li><a href="#create-new-role">Create New Role</a></li>
      <ul>
          <li><a href="#granting-a-role-to-a-user">Granting a role to a user</a></li>
      </ul>

    <li><a href="#create-new-permission">Create new Permission</a></li>
    <li><a href="#data-sharing">Data Sharing</a></li>
      <ul>
          <li><a href="#granting-roles-to-a-user">Granting roles to a user</a></li>
          <li><a href="#revoking-roles-from-a-user">Revoking roles from a user</a></li>
      </ul>
  </ul>
</ul>
</div>
