<div class="contents-menu">
    <h2>Contents</h2>
    <ul class="contents-list">
      <li><a href="/documentation/dashboard/">Dashboard Documentation Home</a></li>
      <li><a href="/documentation/dashboard/getting-started/">Getting Started</a></li>
      <li><a href="/documentation/dashboard/working-with-data/">Working with data</a></li>
      <li><a href="/documentation/dashboard/administration">Administration and Data Sharing</a></li>
      <li><a href="/documentation/dashboard/trials">Trials</a></li>
      <ul>
        <li><a href="#initiating-a-trial">Initiating a trial</a></li>
        <li><a href="#design-iteration">Design iteration</a></li>
        <li><a href="#vendor-opt-in">Vendor opt in</a></li>
        <li><a href="#anonymous-accounts">Anonymous accounts</a></li>
        <li><a href="#data-upload">Data upload</a></li>
        <li><a href="#intermediate-reports">Intermediate reports</a></li>
        <li><a href="#trial-conclusion">Trial conclusion</a></li>
        <li><a href="#forecast-vendor-list">Forecast vendor list</a></li>
        <li><a href="#example-script">Example script</a></li>
      </ul>
      </ul>
    </div>
