<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="/documentation/dashboard/">Dashboard Documentation Home</a></li>
  <li><a href="/documentation/dashboard/getting-started/">Getting Started</a></li>
  <li><a href="/documentation/dashboard/working-with-data/">Working with data</a></li>
  <ul>
    <li><a href="#create-new-site">Create New Site</a></li>
    <li><a href="#create-new-aggregate">Create New Aggregate</a></li>
      <ul>
        <li><a href="#add-observations-to-an-aggregate">Add Observations to an Aggregate</a></li>
        <li><a href="#end-an-observations-contribution-to-an-aggregate">End an Observation's Contribution to an Aggregate</a></li>
        <li><a href="#delete-an-observation-from-an-aggregate">Delete an Observation from an Aggregate</a></li>
      </ul>
    <li><a href="#create-new-observation-or-forecast">Create New Observations or Forecasts</a></li>
      <ul>
        <li><a href="#create-new-observation">Create New Observation</a></li>
        <li><a href="#create-new-forecast">Create New Forecast</a></li>
      </ul>
    <li><a href="#upload-data">Upload Data</a>
      <ul>
        <li><a href="#upload-observation-data">Upload Observation Data</a></li>
        <li><a href="#upload-forecast-data">Upload Forecast Data</a></li>
      </ul>
    </li>
    <li><a href="#download-data">Download Data</a></li>
      <ul>
        <li><a href="#download-observation-data">Download Observation Data</a></li>
        <li><a href="#download-forecast-data">Download Forecast Data</a></li>
      </ul>
    <li><a href="#delete-data">Delete Data</a></li>
    <li><a href="#create-new-report">Create New Report</a></li>
    <li><a href="#quality-flag-filters">Quality Flag Filters</a></li>
    <li><a href="#data-validation">Data Validation</a></li>
  </ul>
  <li><a href="/documentation/dashboard/administration">Administration and Data Sharing</a></li>
  <li><a href="/documentation/dashboard/trials">Trials</a></li>
  </ul>
</div>
