<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#account-creation">Account Creation</a></li>
  <li><a href="#establishing-or-joining-an-organization">Establishing or Joining an Organization</a></li>
  <li><a href="#data-access-controls">Data Access Controls</a></li>
  <li><ul>
    <li><a href="#organizations">Organizations</a></li>
    <li><a href="#users">Users</a></li>
    <li><a href="#roles">Roles</a></li>
    <li><a href="#permissions">Permissions</a></li>
  </ul></li>
  <li><a href="#default-roles">Default Roles</a></li>
  <li><a href="#sharing-data-with-other-organizations">Sharing Data With Other Organizations</a></li>
</ul>
</div>
