<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#data-model">Introduction</a></li>
  <li><a href="#metadata">Metadata</a></li>
    <ul>
      <li><a href="#site">Site</a></li>
      <li><a href="#observations">Observations</a></li>
      <li><a href="#forecasts">Forecasts</a></li>
      <li><a href="#aggregates">Aggregates</a></li>
    </ul>
  <li><a href="#variables-and-units">Variables and Units</a></li>
  <li><a href="#data-formats">Data Formats</a></li>
    <ul>
      <li><a href="#observations-1">Observations</a></li>
      <li><a href="#forecasts-1">Forecasts</a></li>
	  <li><a href="#downloads">Downloads</a></li>
        <ul>
          <li><a href="#csv">CSV</a></li>
          <li><a href="#json">JSON</a></li>
        </ul>
	  <li><a href="#uploads">Uploads</a></li>
        <ul>
          <li><a href="#csv-1">CSV</a></li>
          <li><a href="#json-1">JSON</a></li>
        </ul>
    </ul>
</ul>
</div>
