<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#definitions">Definitions</a></li>
    <ol>
      <li><a href="#forecastdatapoint">Forecast data point</a></li>
      <li><a href="#forecastrun">Forecast run</a></li>
      <li><a href="#forecastevalts">Forecast evaluation time series</a></li>
      <li><a href="#forecastattrs">Forecast evaluation time series attributes</a></li>
      <li><a href="#probforecastdef">Probabilistic forecasts</a></li>
      <li><a href="#probforecastattrs">Probabilistic forecast attributes</a></li>
      <li><a href="#users">Framework user and framework administrator</a></li>
    </ol>
  </ul>
</div>
