<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#metrics">Introduction</a></li>
   <li> <a href="#metrics-for-deterministic-forecasts">Metrics for Deterministic Forecasts</li>
    <ol type="A">
      <li><a href="#mae">Mean Absolute Error (MAE)</a></li>
      <li><a href="#mbe">Mean Bias Error (MBE)</a></li>
      <li><a href="#rmse">Root Mean Square Error (RMSE)</a></li>
      <li><a href="#s">Forecast Skill </a></li>
      <li><a href="#mape">Mean Absolute Percentage Error (MAPE)</a></li>
      <li><a href="#nmae">Normalized Mean Absolute Error (NMAE)</a></li>
      <li><a href="#nmbe">Normalized Mean Bias Error (NMBE)</a></li>
      <li><a href="#nrmse">Normalized Root Mean Square Error (NRMSE)</a></li>
      <li><a href="#crmse">Centered (unbiased) Root Mean Square Error (CRMSE)</a></li>
      <li><a href="#r">Pearson Correlation Coefficient</a></li>
      <li><a href="#r2">Coefficient of Determination </a></li>
      <li><a href="#ksi">Kolmogorov-Smirnov Test Integral (KSI)</a></li>
      <li><a href="#over">OVER</a></li>
      <li><a href="#cpi">Combined Performance Index (CPI)</a></li>
    </ol>
  <li><a href="#metrics-for-deterministic-event-forecasts">Metrics for Deterministic Forecast Events</li>
    <ol type="A">
      <li><a href="#probability-of-detection-pod">Probability of Detection (POD)</a></li>
      <li><a href="#false-alarm-ratio-far">False Alarm Ratio (FAR)</a></li>
      <li><a href="#probability-of-false-detection-pofd">Probability of False Detection (POFD)</a></li>
      <li><a href="#critical-success-index-csi">Critical Success Index (CSI)</a></li>
      <li><a href="#event-bias-ebias">Event Bias (EBIAS)</a></li>
      <li><a href="#event-accuracy-ea">Event Accuracy (EA)</a></li>
    </ol>
  <li><a href="#metrics-for-probablistic-forecasts">Metrics for Probablistic Forecasts</li>
    <ol type="A">
      <li><a href="#bs">Brier Score (BS)</a></li>
      <li><a href="#bss">Brier Skill Score (BSS)</a></li>
      <li><a href="#rel">Reliability (REL)</a></li>
      <li><a href="#res">Resolution (RES)</a></li>
      <li><a href="#unc">Uncertainty (UNC)</a></li>
      <li><a href="#qs">Quantile Score (QS)</a></li>
      <li><a href="#qss">Quantile Skill Score (QSS)</a></li>
      <li><a href="#sh">Sharpness (SH)</a></li>
      <li><a href="#crps">Continuous Ranked Probability Score (CRPS)</a></li>
     </ol>
  <li><a href="#value-metrics">Value Metrics</a></li>
    <ol type="A">
      <li><a href="#value-as-a-function-of-error">Value as a Function of Error</a></li>
      <li><a href="#production-cost-modeling">Production Cost Modeling</a></li>
    </ol>
    <li><a href="#references">References</a></li>
</ul>
</div>

