<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  
  <div class="container">
    <a class="navbar-brand" href="/">
    {% if site.project_logo %}
  	  <img src="{{ site.project_logo }}"/>
  	{% else %}
        {{ site.project_name }}
  	{% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.navigation %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
