<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#use-cases">Introduction</a></li>
  <li><a href="#definitions">Definitions</a></li>
    <ol>
      <li><a href="#forecastdatapoint">Forecast data point</a></li>
      <li><a href="#forecastrun">Forecast run</a></li>
      <li><a href="#forecastevalts">Forecast evaluation time series</a></li>
      <li><a href="#forecastattrs">Forecast evaluation time series attributes</a></li>
      <li><a href="#users">Framework user and framework administrator</a></li>
    </ol>
  <li><a href="#usecases">Use Cases</a></li>
    <ol>
      <li><a href="#evaluatefx">Evaluate forecasts</a></li>
        <ol type="A">
          <li><a href="#uc1A">Compare a forecast to measurements</a></li>
          <li><a href="#uc1B">Compare a probabilistic forecast to measurements</a></li>
          <li><a href="#uc1C">Compare multiple forecasts to measurements</a></li>
          <li><a href="#uc1D">Compare forecasts to measurements for sites and aggregates</a></li>
          <li><a href="#uc1E">Evaluate an event forecast</a></li>
          <li><a href="#uc1F">Conduct forecast trial</a></li>
          <li><a href="#uc1G">Compare multiple overlapping forecast runs to measurements (stretch)</a></li>
          <li><a href="#uc1H">Establish long-term performance baseline of state-of-the-art operational forecasts (stretch)</a></li>
        </ol>
      <li><a href="#analyzefx">Analyze forecasts</a></li>
        <ol type="A">
          <li><a href="#uc2A">Select subsets of forecasts and data</a></li>
          <li><a href="#uc2B">Identify events</a></li>
          <li><a href="#uc2C">Find forecasts errors with large impacts (stretch)</a></li>
        </ol>
      </ol>
  <li><a href="#capabilities">Framework functional capabilities</a></li>
    <ol start="3">
      <li><a href="#evaluation">Perform forecast evaluation in a standard manner</a></li>
        <ol type="A">
          <li><a href="#uc3A">Calculate forecast error metrics</a></li>
          <li><a href="#uc3B">Calculate forecast impacts (stretch)</a></li>
          <li><a href="#uc3C">Communicate probabilistic forecasts</a></li>
          <li><a href="#uc3D">Facilitate communication of forecasts and forecast metrics</a></li>
          <li><a href="#uc3E">Compute aggregate observations</a></li>
        </ol>
      <li><a href="#administer">Administer the framework</a></li>
        <ol type="A">
          <li><a href="#uc4A">Manage users and organizations</a></li>
          <li><a href="#uc4B">Manage data</a></li>
          <li><a href="#uc4C">Provide the framework API</a></li>
          <li><a href="#uc4D">Provide reference forecasts</a></li>
          <li><a href="#uc4E">Provide reference data</a></li>
          <li><a href="#uc4F">Protect forecasts and data</a></li>
          <li><a href="#uc4G">Perform data quality checks</a></li>
        </ol>
      <li><a href="#archive">Archive data and forecasts</a></li>
        <ol type="A">
          <li><a href="#uc5A">Provide historical data, forecasts and forecast errors</a></li>
        </ol>
    </ol>
</ul>
</div>
