---
layout: base
title: Solar Forecast Arbiter Blog
---
<h2>{{ page.title }}</h2>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <hr/>
  <div class="blog-post">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author font-weight-bold">{{ post.author }}
      <span class="date"><i>{{ post.date | date: "%b %d, %Y" }}</i></span>
    </p>
    <div class="excerpt">
      {{ post.content | strip_html | truncatewords: 50 }}
    </div>
  </div>
{% endfor %}
<hr/>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      &lt; Previous
    </a>
  {% else %}
    <span class="previous">&lt; Previous</span>
  {% endif %}
  <span class="page_number ">
    &nbsp; page: {{ paginator.page }} of {{ paginator.total_pages }}&nbsp;
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next &gt;</a>
  {% else %}
    <span class="next ">Next &gt;</span>
  {% endif %}
</div>


