<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% include header.html %}
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      {% include navbar.html %}
    </header>
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
	    <div class="sidebar">
		  {% include dashboard_admin_sidebar.html %}
		</div>
		<div class="content-wrapper-sidebar">
	      {{ content }}
		</div>
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
  	  	{% include footer.html %}
      </div>
    </footer>
  </body>
</html>
